@media only screen and (max-width: 480px){
    nav {
        display: flex;
        justify-content: space-between;
        background: #1d1e1d;
        height:  90px;
        color: #e9d9c6;
        padding-top: 20px;
        border-bottom: #8e7451 solid 10px;
    }
    
    .logo {
        font-size: 40px;
        padding-left: 20px;
        padding-top:10px;
        font-family: 'Fondamento', cursive;
        text-shadow: 5px 5px 10px white;
    
    }
      
    .cart {
        font-size: 25px;
        line-height: 45px;
        padding-right: 20px;
    }
    
    .cart img {
           height:50%;
           width:auto;
    }
    
    .pic img{
        height:auto;
        width:50px;  
    }
    
    
    
    .home a {
        color: #e9d9c6;
        font-family: 'Lato', sans-serif;
        margin-top:50px;
    }
    
     img {
        height:50%;
        width:50%;
    }
    
    /* Welcome block ------------------------*/
    .welcome-block {
        color: #e9d9c6;
        border: #e9d9c6 solid 5px;
        height: 25%;
        background: #a5a191;
        border-radius: 5px;
        margin: 30px;
        font-family: 'Lato', sans-serif;
    }
    
    h1 {
        font-size: 25px;
        color: #B66741;
        font-family: 'Fondamento', cursive;
        text-align: center;
   
      
    }
    
    p {
        font-size: 17px;
        
     
    }
    #add{
        background-color:#B66741;
        color:#e9d9c6;
        padding:5px;
        border-radius:5px;
        display:block;
        margin-left:30%;
    }
    
    /*----Background image---------------- */
    
    .background-image {
        z-index: -100000;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 90px;
        opacity: 0.8;
    }
    
    
    .foot {
        display: flex;
        justify-content: space-between;
        background: #1d1e1d;
        height:  90px;
        color: #e9d9c6;
        padding-top: 30px;
        border-top: #8e7451 solid 10px;
    
    }
    
    body {
        background: black;
        height: 700px;
    }
    
    /* Main-content------------------- */
    #storeProducts {
        font-size:50px;
        color: #e9d9c6;
        border: #e9d9c6 solid 10px;
        height: 70%;
        width:auto;
        background: #a5a191;
        border-radius: 5px;
        margin: 40px;
        padding:15px;
    
    }
    
    #storePage {
        display: flex;
        justify-content: center;
        width: 100%;
        flex-direction: column;
    }
    
    .picture {
        border-radius: 10px;
        margin-left:20%;
    }
    
    
    .wrapper {
        background: white;
        margin: 20px;
        padding: 20px;
        border-radius: 10px;
        border-top: #8e7451 solid 10px;
        box-shadow: 5px 10px 18px black;
    }
    
    /* Items and their propertys -------------------------*/
    
    .name {
        font-family: 'Fondamento', cursive;
        color: #B66741;
        text-align: center;
    }
    .price, .description{
        font-family: 'Lato', sans-serif;
        font-size:15px;
    }
    
    #cart{
        display:flex;
        flex-direction:column;
        align-items:center;
        margin-top: 30px;
        padding: 10px;
        border: 2px solid;
        background: #e9d9c6;
        font-family: 'Lato', sans-serif;
        text-align:center;
    
    
    }

    
    th, td, tr{
        border: 1px solid;
        
        border-color: #8e7451;
    }
    
    
    
    #cartDisplay {
    
        background-color:#fff;
        width:90%;
        max-width:400px;
        border-radius:3px;
        box-shadow:0px 0px 31px 1px rgba(0,0,0,0.3);
        margin-bottom:40px;
        position:absolute;
        z-index: 5;
        margin-left: 30%;
        top:155px;
        display:none;
        border: 2px solid #8e7451;
    }
    
    #cartDisplay img{
    
        width:20px;
        position:absolute;
        top:20px;
        right:20px
    }   
}
    
* {
    margin: 0;
    padding: 0;
}

@media only screen and (min-width:480px){  
    nav {
        display: flex;
        justify-content: space-between;
        background: #1d1e1d;
        height:  90px;
        color: #e9d9c6;
        padding-top: 30px;
        border-bottom: #8e7451 solid 10px;
    }

    .logo {
        font-size: 60px;
        padding-left: 20px;
        font-family: 'Fondamento', cursive;
        text-shadow: 5px 5px 10px white;

    }
    
    .cart {
        font-size: 25px;
        line-height: 45px;
        padding-right: 20px;
    }

    .cart img {
        height:70%;
        width:70%;
    }

    .pic img{
        height:auto;
        width:50px;  
    }



    .home a {
        color: #e9d9c6;
        font-family: 'Lato', sans-serif;
    }

    img {
        height:50%;
        width:50%;
    }

    /* Welcome block ------------------------*/
    .welcome-block {
        color: #e9d9c6;
        border: #e9d9c6 solid 10px;
        height: 70%;
        background: #a5a191;
        border-radius: 5px;
        margin: 40px;
    }

    h1 {
        font-size: 60px;
    }

    p {
        font-size: 40px;
    }

    /*----Background image---------------- */

    .background-image {
        z-index: -100000;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 90px;
        opacity: 0.8;
    }


    .foot {
        display: flex;
        justify-content: space-between;
        background: #1d1e1d;
        height:  90px;
        color: #e9d9c6;
        padding-top: 30px;
        border-top: #8e7451 solid 10px;
    }

    body {
        background: black;
        height: 700px;
    }

    /* Main-content------------------- */
    #storeProducts {
        font-size:50px;
        color: #e9d9c6;
        border: #e9d9c6 solid 10px;
        height: 70%;
        background: #a5a191;
        border-radius: 5px;
        margin: 40px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    #storePage {
        display: flex;
        justify-content: center;
        width: 100%;
        flex-direction: column;
    }

    .picture {
        border-radius: 10px;
    }


    .wrapper {
        background: white;
        margin: 20px;
        padding: 20px;
        border-radius: 10px;
        display: flex;
        width: 20%; 
        flex-direction: column;
        border-top: #8e7451 solid 10px;
        box-shadow: 5px 10px 18px black;
    }

    /* Items and their propertys -------------------------*/

    .name {
        font-family: 'Fondamento', cursive;
        color: #B66741;
    }

    #cart{
        display:flex;

        flex-direction:column;
        align-items:center;
        margin-top: 30px;
        padding: 10px;
        border: 2px solid;
        background: #e9d9c6;


    }

    th, td, tr{
        border: 1px solid;
        
        border-color: #8e7451;
    }



    #cartDisplay {

        background-color:#fff;
        width:90%;
        max-width:400px;
        border-radius:3px;
        box-shadow:0px 0px 31px 1px rgba(0,0,0,0.3);
        margin-bottom:40px;
        position:fixed;
        margin-right:auto; 
        margin-left:auto;
        margin: 10px auto 0 auto;    
        z-index: 5;
        margin-left: 30%;
        top:155px;
        display:none;
        border: 2px solid #8e7451;
    }

    #cartDisplay img{

        width:20px;
        height: 20px;
        position:absolute;
        top:5px;
        right:5px
    }
}

/* Main-content------------------- */
#storeProducts {
    font-size:50px;
    color: #e9d9c6;
    border: #e9d9c6 solid 10px;
    height: 70%;
    background: #a5a191;
    border-radius: 5px;
    margin: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

#storePage {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

.picture {
    border-radius: 10px;
}


.wrapper {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    width: 20%;
    flex-direction: column;
    border-top: #8e7451 solid 10px;
    box-shadow: 5px 10px 18px black;
}

/* Items and their propertys -------------------------*/

.name {
    font-family: 'Fondamento', cursive;
    color: #B66741;
}

/* ----Checkout Cart Display CSS----*/

#checkoutCart * {
    border-collapse: collapse;
    font-size: 1rem;
}

#paymentInfo > div#checkoutCart tr:hover:not(:first-child):not(:last-child)
{
    background-color: #f5f5f5;
}

#checkoutForm label {
    font-size: 1em;
}